.line {
    background-color: rgba(255, 255, 255, .7);
    margin-top: 2vh;
    padding: 15px;
    width: 50vw;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}